// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
// endbower

body {
  background-image: url(../images/sprites/UI/Tlo_menu.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  height: 100%;
}
